{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "uglify": true
        },
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "@babel/plugin-transform-modules-umd",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ]
  ]
}
